<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GroovFind: Detecting you</title>
    <link rel="stylesheet" href="./css/detect.css" />
    <script defer src="js/face-api.min.js"></script>
    <script defer src="js/detect.js"></script>
  </head>
  <body>
    <div class="box">
      <video id="video" height="400" width="560" autoplay muted></video>
    </div> <br>
    <div class="button">
    <a href="/found"> See your playlists</a>
    </div>
  </body>
</html>
