@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #6f00fc;
}

.title {
  position: absolute;
  width: 295px;
  height: 68px;
  left: 225px;
  top: 41px;

  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 67px;
  text-shadow: -4px 0px 2px rgba(0, 0, 0, 1);
}

.mobile {
  position: absolute;
  left: 50vw;
  top: 30vh;
}
