@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #6f00fc;
}

.title {
  position: absolute;
  width: 295px;
  height: 68px;
  left: 225px;
  top: 41px;
  color: white;
  font-weight: bold;
  font-size: 64px;
  line-height: 69px;
  text-shadow: -4px 0px 2px rgba(0, 0, 0, 1);
}
.title2 {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 67px;

  /* or 105% */

  color: #ffffff;
}
.desc {
  position: absolute;
width: 394px;
height: 96px;
left: 221px;
top: 403px;
color: white;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
}

.mobile {
  position: absolute;
  left: 50vw;
  top: 30vh;
}
